* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
  color: #333;
  line-height: 1.6;
  background-image: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fimg.freepik.com%2Ffree-vector%2Fgradient-network-connection-background_23-2148881320.jpg%3Fsize%3D626%26ext%3Djpg%26ga%3DGA1.1.2116175301.1719273600%26semt%3Dais_user&tbnid=_qCD9oEPnsxjlM&vet=1&imgrefurl=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fblockchain-background%2F2&docid=T_LDhK6Yn_S8GM&w=626&h=417&source=sh%2Fx%2Fim%2Fm1%2F0&kgs=38d168718f8155bc&shem=abme%2Ctrie');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* This makes the background image stay fixed in place */
}
body {
           font-family: Arial, sans-serif;
           adding :20px;
         }

#n_select {
    max-width: 290px;
    margin: 0 auto;
    margin-top: 130px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); 
    border: 2px solid rgba(255, 255, 255, 1);
    transform:rotateX(25deg) rotateY(-30deg) rotateZ(20deg);
    color: white;
    box-shadow: 0px 0px 10px white;
}
#n_select button,select,input{
  padding: 10px;
  background-color: transparent;
  box-shadow: 0px 0px 10px white;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 
  0 0 3px rgba(255, 255, 255, 0.),
  0 0 8px rgba(255, 255, 255, 0.3),
  0 0 12px rgba(255, 255, 255, 0.3),
  0 0 3px rgba(255, 45, 149, 0.3),
  0 0 8px rgba(255, 45, 149, 0.3),
  0 0 12px rgba(255, 45, 149, 0.3),
  0 0 15px rgba(255, 45, 149, 0.3),
  0 0 20px rgba(255, 45, 149, 0.3);
 
}
#n_select select{
  text-shadow: 
    0 0 5px #0c2ffb,
    0 0 5px #2cfcfd,
    0 0 5px #fb203b,
    0 0 5px #fefc4b;
}
#n_select input{
  text-shadow: none;
}
#name input {
  text-shadow: none;
}
#guestMealOptions select{
  text-shadow: none;
    padding: 5px;
  background-color: transparent;
  box-shadow: 0px 0px 4px white;
  color: black;
 font-size: 13px;
}
#n_select label{
  color: #fff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
	letter-spacing: 5px;
	font: 16px 'MisoRegular';
}
  
  #n_select div {
    margin-bottom: 15px;
  }
  .m_butt{
    max-width: 290px;
    width: 100%;
    margin: 0 auto;
    margin-top: 17px;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color:#40B657;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  #your_name {
    text-align: left;
  }
  
  #your_name label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  #name {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  #pin {
    width:100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  #n_submit {
    width: 100%;
  }
  
  #n_submit:hover {
    background-color: transparent;
  }
  
/* Container */
#all_content {
    width: 100%;
    margin: auto;
    overflow: hidden;
    display:none;
}

/* Header Styling */
header {
    background: #35424a;
    color: #ffffff;
    padding-top: 5px;
    max-height: 70px;
    border-bottom: #e8491d 3px solid;
    display:flex;
}
header .user_name{
  width: calc(100vw - 50px);
}
header #logo i{
  position: relative;
  top:  20px;
}
header div h2{
   margin-top: 0;
    text-align: center;
    margin-bottom: 2px;
}

header #user_name {
    display: block;
    text-align: center;
}

/* Modal background */
.modal{
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    padding-top: 60px;
}

/* Modal content */
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.modal-content {
  background-color: rgba(255, 252, 252, 0.2);
  margin: 5% auto;
  padding: 20px;
  border: 2px solid #FFEDED;
  box-shadow: 0 0 10px #FFFFFF;
  border-radius: 5px;
  position: absolute;
  width: 230px;
  top: 100px;
  right: 0;
  animation: slideInFromRight .7s forwards;
}
/* Close button */
.modal-content .close {
    color: #000000;
    float: bottom;
    font-size: 40px;
    font-weight: bold;
    padding: 0px;
    z-index: 6;
    margin:-20px 0px -40px 0px;
}
.modal-content div{
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: .1em .1em 0 hsl(200 50% 30%);
}

.modal a {
    text-decoration: none;
    font-size: 14px;
    padding:6px;
    border-radius: 5px;
    box-shadow: 0 0 8px #FFFFFF; 
    border: 2px solid #646464;
    background-color: rgba(112, 112, 112, 0.49);
    color :rgba(255, 255, 255, 0.88);
    color:rgba(255, 255, 255, 0.95);
}
.modal-content div i{
  color: #00E9E099;
}
.modal_option{
   font-size: 14px;
    padding:6px;
    border-radius: 5px;
    box-shadow: 0 0 8px #FFFFFF; 
    border: 2px solid #646464;
    background-color: rgba(112, 112, 112, 0.49);
    color :rgba(247, 247, 255, 0.88);
}
.modal a:hover {
   font-weight: bold;
   color:#06FF00E8;
}
#password_change:hover {
   font-weight: bold;
   color:#555555E8;
}


/* Modal background */
.modal-container {
    display: none;
    position: fixed;
    z-index:5 ;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.modal-container input{
  color:#00149C;
}
/* Modal content */
.modal-box {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Close button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.day_choose{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 2px;
    cursor: pointer;
    border-radius: 5px;
}



/* Main Content */
#content {
    padding: 10px;
    background: #ffffff;
    margin-top: 10px;
}

#content h4 {
    text-align: center;
    margin-bottom: 5px;
}

form {
    max-width:100%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    margin: 10px 0 5px;
}

form input[type="radio"] {
    margin-right: 10px;
}

form button, form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #35424a;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;

}


#mealForm button {
  font-size: 15px;
  margin: 0px;
}
#mealResults {
    margin-top: 0px;
}

/* Table Styling */
#table{
  max-height:600px;
   overflow-y: scroll;
}
#table table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table table tr:nth-child(odd) {
    background-color: #ffffff; 
}

#table {
        margin-top: 20px;
        background: #ffffff;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow-x: auto;
        white-space: nowrap; 
    }

    #table table {
        width: 100%;
        border-collapse: collapse;
    }

    #table table, #table th, #table td {
        border: 1px solid #dddddd;
    }

    #table th, #table td {
        padding: 8px;
        text-align: center;
    }

    #table th {
        background: #35424a;
        color: #ffffff;
    }

    /* Alternate row colors */
    #table table tr:nth-child(even) {
        background-color: #f2f2f2; /* Set background color for even rows */
    }

    #table table tr:nth-child(odd) {
        background-color: #ffffff; /* Set background color for odd rows */
    }
/* First child sticky */

#table td:nth-child(2) {
    position: sticky;
    left: 0px;
    background-color: #fff; 
    z-index: 2; 
}

#table tr:first-child {
  position: sticky;
  top: 0;
  z-index: 3;
}
#table td:first-child {
    position: sticky;
    left: 0;
    background-color: #fff; 
    z-index: 1;
}



/* Footer Styling */
footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer p {
    margin: 0;
}


.highlighted {
    color: #07162C; /* Dark blue text */
    font-weight: 500;
    border: 2px solid #B0C4DE; 
}

#toast {
  background-color: rgb(4,29,29);
  visibility: hidden;
  padding: 10px 15px;
  margin-left: 10px;
  color: #00FF4FFC;
  border-radius: 10px;
  border:1px solid #00FF4FFC;
  position: fixed;
  bottom: 5%;
  left: 20px;
  z-index: 4;
}

.modal-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.modal-box input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#password_change_button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

#password_change_button:hover {
    background-color: #45a049;
    }
